<select class="ui fluid dropdown" name="data-map[option]">
    <option value="">Select value</option>
    {{#EachItems TypeHandler}}
    <option value="{{Key}}" {{Selected @StringValue Key}}>{{Value}}</option>
    {{/EachItems}}
</select>