<style>
    table.dataTable {
        border-collapse: collapse !important;
    }
</style>
<div class="page-content-body">
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">企业基本信息</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>公司名称</th>
                                    <th>行业</th>
                                    <th>法定代表人</th>
                                    <th>成立日期</th>
                                    <th>联系电话</th>
                                    <th>所属省份</th>
                                    <th>所属市区</th>
                                    <th>所属区县</th>
                                    <th>公司类型</th>
                                    <th>办公地址</th>
                                    <th>企业公示的联系电话（更多号码）</th>
                                    <th>企业公示的地址</th>
                                    <th>企业公示的网址</th>
                                    <th>企业公示的邮箱</th>
                                    <th>经营范围</th>
                                    <th>注册资本</th>
                                    <th>实缴资本</th>
                                    <th>经营状态</th>
                                    <th>统一社会信用代码</th>
                                    <th>工商注册号</th>
                                    <th>纳税人识别号</th>
                                    <th>组织机构代码</th>
                                    <th>登记机关</th>
                                    <th>营业期限</th>
                                    <th>纳税人资质</th>
                                    <th>人员规模</th>
                                    <th>参保人数</th>
                                    <th>曾用名</th>
                                    <th>英文名称</th>
                                    <th>注册地址</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>公司名称</th>
                                    <th>行业</th>
                                    <th>法定代表人</th>
                                    <th>成立日期</th>
                                    <th>联系电话</th>
                                    <th>所属省份</th>
                                    <th>所属市区</th>
                                    <th>所属区县</th>
                                    <th>公司类型</th>
                                    <th>办公地址</th>
                                    <th>企业公示的联系电话（更多号码）</th>
                                    <th>企业公示的地址</th>
                                    <th>企业公示的网址</th>
                                    <th>企业公示的邮箱</th>
                                    <th>经营范围</th>
                                    <th>注册资本</th>
                                    <th>实缴资本</th>
                                    <th>经营状态</th>
                                    <th>统一社会信用代码</th>
                                    <th>工商注册号</th>
                                    <th>纳税人识别号</th>
                                    <th>组织机构代码</th>
                                    <th>登记机关</th>
                                    <th>营业期限</th>
                                    <th>纳税人资质</th>
                                    <th>人员规模</th>
                                    <th>参保人数</th>
                                    <th>曾用名</th>
                                    <th>英文名称</th>
                                    <th>注册地址</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{

    <script>
        function filterColumn(i) {
            $('#example1').DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
                false,
                false
            ).draw();
        }
        var editor, table, isdisposed;
        var curWarehouseId, curType, curStorerId;
        $(document).ready(function () {
            isdisposed = false;
            App.initResizeHandler();
            Layout.initAjaxContentSuccessCallback();
            App.addResizeHandler(Resize);
            Layout.addAjaxContentSuccessCallback(AjaxDispose);

            $('#example1 tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });
            //查询
            table = $('#example1').DataTable({
                //"paging": true,
                //"lengthChange": true,
                //"searching": true,
                //"ordering": true,
                //"info": true,
                //"autoWidth": true,
                //"select": false,
                initComplete: function () {
                    // Apply the search
                    this.api().columns().every(function () {
                        var that = this;
                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                },
                "scrollX": true,
                lengthMenu: [[10, 25, 50, 100, 500], [10, 25, 50, 100, 500]],
                //initComplete: function () {
                //    //console.log("111");
                //    table.search("").draw();
                //},
                //drawCallback: function () {
                //    $('#example1 thead th').each( function () {
                //        var title = $(this).text();
                //        $(this).html( '<input type="text" class="dataTables_sizing" style="width:100%"  placeholder="Search '+title+'" />' );
                //    } );
                //     //Apply the search
                //    this.api().columns().every(function () {
                //        //console.log(this.columns());
                //        var that = this;
 
                //        $('input').on('keyup change clear', function () {
                //            //console.log(that);
                //            //console.log(that.search() + ":" + this.value);
                //            if (this.parentNode.cellIndex == that[0].toString()) {
                //                if (that.search() !== this.value) {
                //                    that[0] = (this.parentNode.cellIndex + 1).toString();
                //                that
                //                    .search( this.value )
                //                    .draw();
                //            }
                //            }
                //        } );
                //    } );
                //},
                ajax: {
                    url: "@Url.Action("PageData", "CompanyInfo")",
                    type: "post"
                },
                order: [[0, 'asc']],//一定要添加
                colReorder: {
                    fixedColumnsLeft: 1
                },
                serverSide:true,
                columns: [
                    { data: "Id",  searchable: true, orderable: true, width: "50px",visible:false, responsivePriority: 1 },
                    { data: "Name",  searchable: true, orderable: false, width: "100px", responsivePriority: 1 },
                    { data: "Industry",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "LegalPerson",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "CreateDate",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "Tel",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "Province",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "City",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "District",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "Type",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "Address",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "PublicTel",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "PublicAddress",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "PublicWebSite",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "PublicEmail",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "BusinessScope",  searchable: true, orderable: true, width: "500px", responsivePriority: 1 },
                    { data: "RegisteredCapital",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "PaidCapital",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "BusinessStatus",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "CreditCode",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "RegistrationNo",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "IdentificationNumber",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "OrganizationCode",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "RegistrationAuthority",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "BusinessTerm",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "TaxpayerQualification",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "PersonnelSize",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "NumberInsured",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "NameUsedBefore",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "EnglishName",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "RegisterAddress",  searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                ],
                

            });
        });
        //调整窗口大小
        function Resize() {
            $('#example1').DataTable()
                .columns.adjust()
                .responsive.recalc();
        }
        //页面数据注销
        function AjaxDispose() {
            if (!isdisposed) {
                isdisposed = true;
                try {
                            table.destroy();

                }
                catch
                {
                    console.log("释放失败");
                }
            }
        }
    </script>
}


