<style>
    table.dataTable {
        border-collapse: collapse !important;
    }
</style>
<div class="page-content-body">
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">企业基本信息</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>

@section scripts{

    <script>
        function filterColumn(i) {
            $('#example1').DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
                false,
                false
            ).draw();
        }
        var editor, table, isdisposed;
        var curWarehouseId, curType, curStorerId; // use a global for the submit and return data rendering in the examples
        $(document).ready(function () {
            isdisposed = false;
            App.initResizeHandler();
            Layout.initAjaxContentSuccessCallback();
            App.addResizeHandler(Resize);
            Layout.addAjaxContentSuccessCallback(AjaxDispose);

            //查询
            table = $('#example1').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "select": false,
                "scrollX": true,
                lengthMenu: [[10, 25, 50, 100, 500], [10, 25, 50, 100, 500]],
                ajax: {
                    url: "@Url.Action("PageData", "CompanyInfo")",
                    type: "post"
                },
                order: [[0, 'asc']],//一定要添加
                colReorder: {
                    fixedColumnsLeft: 1
                },
                columns: [
                    { data: "id", title: "主键", searchable: true, orderable: true, width: "50px",visible:false, responsivePriority: 1 },
                    { data: "name", title: "公司名称", searchable: true, orderable: false, width: "100px", responsivePriority: 1 },
                    { data: "industry", title: "行业", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "legalPerson", title: "法定代表人", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "createDate", title: "成立日期", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "tel", title: "联系电话", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "province", title: "所属省份", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "city", title: "所属市区", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "district", title: "所属区县", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "type", title: "公司类型", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "address", title: "办公地址", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "publicTel", title: "企业公示的联系电话（更多号码）", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "publicAddress", title: "企业公示的地址", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "publicWebSite", title: "企业公示的网址", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "publicEmail", title: "企业公示的邮箱", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "businessScope", title: "经营范围", searchable: true, orderable: true, width: "500px", responsivePriority: 1 },
                    { data: "registeredCapital", title: "注册资本", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "paidCapital", title: "实缴资本", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "businessStatus", title: "经营状态", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "creditCode", title: "统一社会信用代码", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "registrationNo", title: "工商注册号", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "identificationNumber", title: "纳税人识别号", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "organizationCode", title: "组织机构代码", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "registrationAuthority", title: "登记机关", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "businessTerm", title: "营业期限", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "taxpayerQualification", title: "纳税人资质", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "personnelSize", title: "人员规模", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "numberInsured", title: "参保人数", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "nameUsedBefore", title: "曾用名", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "englishName", title: "英文名称", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "registerAddress", title: "注册地址", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                ],
                buttons: [
                        { extend: "create", text: "创建", editor: editor },
                        { extend: "edit", text: "编辑", editor: editor },
                        { extend: "selectedSingle", text: "启用\\停用", action: function (e, dt, node, config) {  var rows = table.rows({ selected: true }).data(); CodemasterOnOff(rows[0]['Id']); }},
                        {
                            extend: 'collection',
                            text: '导出',
                            buttons: [
                                { extend: "copyHtml5", text: "复制" },
                                { extend: "excelHtml5", text: "导出EXCEL" }
                                //{ extend: "csvHtml5", text: "导出CSV" },
                                //{ extend: "pdfHtml5", text: "导出PDF" }
                            ]
                        }
                ],

            });
        });
        //调整窗口大小
        function Resize() {
            $('#example1').DataTable()
                .columns.adjust()
                .responsive.recalc();
        }
        //页面数据注销
        function AjaxDispose() {
            if (!isdisposed) {
                isdisposed = true;
                try {
                            table.destroy();

                }
                catch
                {
                    console.log("释放失败");
                }
            }
        }
    </script>
}


