USE [BI]
GO
/****** Object:  Table [dbo].[CodeMaster]    Script Date: 2020/6/29 16:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodeMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModifyTime] [datetime2](7) NULL,
	[Modifier] [nvarchar](150) NULL,
	[CreateTime] [datetime2](7) NOT NULL,
	[Creator] [nvarchar](150) NOT NULL,
	[CodeGroup] [nvarchar](20) NOT NULL,
	[CodeId] [nvarchar](20) NOT NULL,
	[CodeName] [nvarchar](50) NULL,
	[IsActive] [char](1) NULL,
	[Remarks] [nvarchar](200) NULL,
	[HUDF_01] [nvarchar](200) NULL,
 CONSTRAINT [PK_CodeMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CodeMaster] ON 

INSERT [dbo].[CodeMaster] ([Id], [ModifyTime], [Modifier], [CreateTime], [Creator], [CodeGroup], [CodeId], [CodeName], [IsActive], [Remarks], [HUDF_01]) VALUES (10, CAST(N'2020-06-29T16:56:29.0949611' AS DateTime2), N'wangfeng', CAST(N'2020-03-06T15:18:10.1100000' AS DateTime2), N'WCC2', N'DEPARTMENT', N'58', N'系统研发部', N'1', N'44455', NULL)
INSERT [dbo].[CodeMaster] ([Id], [ModifyTime], [Modifier], [CreateTime], [Creator], [CodeGroup], [CodeId], [CodeName], [IsActive], [Remarks], [HUDF_01]) VALUES (14, CAST(N'2020-06-29T16:56:36.8592188' AS DateTime2), N'wangfeng', CAST(N'2020-03-09T15:01:51.1500000' AS DateTime2), N'WCC2', N'DEPARTMENT', N'59', N'系统运维部', N'1', N'555', NULL)
INSERT [dbo].[CodeMaster] ([Id], [ModifyTime], [Modifier], [CreateTime], [Creator], [CodeGroup], [CodeId], [CodeName], [IsActive], [Remarks], [HUDF_01]) VALUES (1049, CAST(N'2020-04-07T14:18:11.5381128' AS DateTime2), N'wangfeng', CAST(N'2020-03-05T15:49:43.6530049' AS DateTime2), N'CBH', N'DEPARTMENT', N'7', N'海宁零售通', N'1', N'', NULL)
GO
SET IDENTITY_INSERT [dbo].[CodeMaster] OFF
