@model WFWebProject.Models.ConstructorInfo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ConstructorInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Constructor" class="control-label"></label>
                <input asp-for="Constructor" class="form-control" />
                <span asp-validation-for="Constructor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterNumber" class="control-label"></label>
                <input asp-for="RegisterNumber" class="form-control" />
                <span asp-validation-for="RegisterNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticeSealNo" class="control-label"></label>
                <input asp-for="PracticeSealNo" class="form-control" />
                <span asp-validation-for="PracticeSealNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterCertNo" class="control-label"></label>
                <input asp-for="RegisterCertNo" class="form-control" />
                <span asp-validation-for="RegisterCertNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualificationCertNo" class="control-label"></label>
                <input asp-for="QualificationCertNo" class="form-control" />
                <span asp-validation-for="QualificationCertNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateIssue" class="control-label"></label>
                <input asp-for="DateIssue" class="form-control" />
                <span asp-validation-for="DateIssue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterMajor" class="control-label"></label>
                <input asp-for="RegisterMajor" class="form-control" />
                <span asp-validation-for="RegisterMajor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidityRegistration" class="control-label"></label>
                <input asp-for="ValidityRegistration" class="form-control" />
                <span asp-validation-for="ValidityRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
