@model WFWebProject.Models.CompanyQualification

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CompanyQualification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomicType" class="control-label"></label>
                <input asp-for="EconomicType" class="form-control" />
                <span asp-validation-for="EconomicType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSite" class="control-label"></label>
                <input asp-for="WebSite" class="form-control" />
                <span asp-validation-for="WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualificationType" class="control-label"></label>
                <input asp-for="QualificationType" class="form-control" />
                <span asp-validation-for="QualificationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress" class="control-label"></label>
                <input asp-for="ContactAddress" class="form-control" />
                <span asp-validation-for="ContactAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SafetyLicenseNo" class="control-label"></label>
                <input asp-for="SafetyLicenseNo" class="form-control" />
                <span asp-validation-for="SafetyLicenseNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuingAuthority" class="control-label"></label>
                <input asp-for="IssuingAuthority" class="form-control" />
                <span asp-validation-for="IssuingAuthority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScopeLicense" class="control-label"></label>
                <input asp-for="ScopeLicense" class="form-control" />
                <span asp-validation-for="ScopeLicense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationCode" class="control-label"></label>
                <input asp-for="OrganizationCode" class="form-control" />
                <span asp-validation-for="OrganizationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComprehensiveScore" class="control-label"></label>
                <input asp-for="ComprehensiveScore" class="form-control" />
                <span asp-validation-for="ComprehensiveScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
