@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>建造师信息查询系统</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>欢迎使用</h2>
        
    </div>
</div>
<script>
    console.log("1111");
</script>

