.demo-device-container .demo-device-orientation-selector > div {
    margin: 0 auto;
    width: 520px;
    text-align: right;
}

.demo-device-container.large .demo-device-orientation-selector > div {
    width: 750px;
}

.demo-device-container.horizontal .demo-device-orientation-selector > div {
    width: 830px;
}

.demo-device-container.horizontal.large .demo-device-orientation-selector > div {
    width: 1060px;
}

.demo-device-orientation-selector button {
    display: block;
    float: right;
    clear: both;
    font-size: 2.5em;
    padding: 0 0.5em;
    margin-bottom: 0.2em;
    margin-right: -1.8em;
}

    .demo-device-orientation-selector button.horizontal > span {
        transform: rotate(90deg);
    }

.demo-device-container .demo-device {
    height: 830px;
    width: 520px;
    margin: 0 auto;
    padding: 30px 20px;
    border-radius: 15px;
}

.demo-device-container.large .demo-device {
    height: 1060px;
    width: 750px;
}

.demo-device-container.horizontal .demo-device {
    width: 830px;
    height: 520px;
    padding: 20px 30px;
}

.demo-device-container.horizontal.large .demo-device {
    width: 1060px;
    height: 750px;
}

.demo-device-container .demo-display {
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 2px;
    position: relative;
}

.demo-device .demo-display > iframe {
    height: 100%;
    width: 100%;
    min-height: 450px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
}

    .demo-device .demo-display > iframe.loading {
        position: absolute;
        top: -10000px;
        left: -10000px;
        width: 10000px;
    }

.demo-load-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

    .demo-load-panel > span {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 3em;
        opacity: 0.3;
        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

@media (max-width: 1100px) {
    .demo-device-orientation-selector {
        display: none;
    }

    .demo-device-container .demo-device {
        width: 100%;
        min-width: 300px;
        height: 830px;
    }
}

@media (max-width: 1330px) {
    .demo-device-container.large .demo-device-orientation-selector {
        display: none;
    }

    .demo-device-container.large .demo-device {
        width: 100%;
        min-width: 300px;
        height: 1060px;
    }
}

@media (max-width: 1400px) {
    .demo-device-container.horizontal .demo-device-orientation-selector {
        display: none;
    }

    .demo-device-container.horizontal .demo-device {
        width: 100%;
        min-width: 320px;
        height: 520px;
    }
}

@media (max-width: 1630px) {
    .demo-device-container.horizontal.large .demo-device-orientation-selector {
        display: none;
    }

    .demo-device-container.horizontal.large .demo-device {
        width: 100%;
        min-width: 320px;
        height: 750px;
    }
}
