
<style>
    table.dataTable {
        border-collapse: collapse !important;
    }
</style>
<div class="page-content-body">

    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">测试数据</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped nowrap ">
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    
</div>

@section scripts{
    
    <script>
        function filterColumn(i) {
            $('#example1').DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
                false,
                false
            ).draw();
        }
        var editor, table, isdisposed;
        var curWarehouseId, curType, curStorerId; // use a global for the submit and return data rendering in the examples
        $(document).ready(function () {
            isdisposed = false;
            App.initResizeHandler();
            Layout.initAjaxContentSuccessCallback();
            App.addResizeHandler(Resize);
            Layout.addAjaxContentSuccessCallback(AjaxDispose);

            
            //查询
            table = $('#example1').DataTable({
                //"paging": true,
                //"lengthChange": true,
                "searching":true,
                //"ordering": true,
                //"info": true,
                //"autoWidth": false,
                //"select": true,
                "scrollX": true,
                lengthMenu: [[10, 25, 50, 100, 500], [10, 25, 50, 100, 500]],
                initComplete: function () {
                    console.log("111");
                    table.search("").draw();
                },
                drawCallback: function () {
                    $('#example1 thead th').each( function () {
                        var title = $(this).text();
                        $(this).html( '<input type="text" class="dataTables_sizing" style="width:100%"  placeholder="Search '+title+'" />' );
                    } );
                     //Apply the search
                    this.api().columns().every(function () {
                        console.log(this.columns());
                        var that = this;
 
                        $('input').on('keyup change clear', function () {
                            console.log(that);
                            console.log(that.search() + ":" + this.value);
                            if (this.parentNode.cellIndex == that[0].toString()) {
                                if (that.search() !== this.value) {
                                    that[0] = (this.parentNode.cellIndex + 1).toString();
                                that
                                    .search( this.value )
                                    .draw();
                            }
                            }
                        } );
                    } );
                },
                ajax: {
                    url: "@Url.Action("PageData", "CodeMasters")",
                    type: "post"
                },
                order: [[0, 'asc']],//一定要添加
                colReorder: {
                    fixedColumnsLeft: 1
                },
                serverSide:true,//启用服务端必须要加上
                columns: [
                    { data: "Id", title: "主键", searchable: true, orderable: true, width: "50px",visible:false, responsivePriority: 1 },
                    { data: "CodeId", title: "参数ID", searchable: true, orderable: false, width: "100px", responsivePriority: 1 },
                    { data: "CodeName", title: "参数名称", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "CodeGroup", title: "参数类型", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "Creator", title: "创建人", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    {
                        data: "CreateTime", title: "创建时间", searchable: true, orderable: true, width: "100px", responsivePriority: 1,
                        render: function (val, type, row) {
                            val = moment(val).format('YYYY-MM-DD hh:mm:ss');
                            return val;
                        }
                    },
                    { data: "Modifier", title: "修改人", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    {
                        data: "ModifyTime", title: "修改时间", searchable: true, orderable: true, width: "100px", responsivePriority: 1,
                        render: function (val, type, row) {
                            val = val==""||val==null?"":moment(val).format('YYYY-MM-DD hh:mm:ss');
                            return val;
                        }
                    },
                    {
                        data: "IsActive", title: "状态", searchable: true, orderable: true, width: "100px", responsivePriority: 1,
                        render: function (val, type, row) {
                            val = val == "1" ? "启用" : "禁用";
                            return val;
                        }
                    },
                    { data: "Remarks", title: "备注", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    { data: "HUDF_01", title: "自定义字段", searchable: true, orderable: true, width: "100px", responsivePriority: 1 },
                    
                ],
                

            });
             
        });
        //调整窗口大小
        function Resize() {
            $('#example1').DataTable()
                .columns.adjust()
                .responsive.recalc();
        }
        //页面数据注销
        function AjaxDispose() {
            if (!isdisposed) {
                isdisposed = true;
                
                try {
                         table.destroy();
                 
                }
                catch
                {
                    console.log("释放失败");
                }
            }
        }

    </script>
}


